body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background: url(https://www.golaravel.com/assets/images/header-bg.jpg) no-repeat;
    background-position: 50% 15%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header svg {
    height: 140px;
    width: 180px;
    margin-top: 70px;
    margin-bottom: 20px;
}

header h1 {
    color: white;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 70px;
}

nav {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 2px solid #e1e1e1;
}

nav a {
    text-decoration: none;
    color: #505050;
    margin: 20px 15px;
    font-size: 14px;
}

nav a:hover {
    color: #f4645f;
}

nav a:visited {
    text-decoration: underline;
}

.main {
    background: #ebebeb;
    padding: 35px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.content {
    width: 65%;
}

.content article {
    padding: 35px 35px 90px 35px;
    background: #fff;
    margin-bottom: 35px;
}

.title h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
    line-height: 1.2em;
}

.title h1 a {
    color: #303030;
}

.title h1 a:hover {
    color: #f4645f;
}

.author {
    color: #959595;
    margin: 14px 0 0;
    text-align: center;
}

.author a{
    color: #f4645f;
}

.author a:hover {
    text-decoration: underline;
}

.imglink {
    margin-top: 30px;
}

.imglink img {
    width: 100%;
    text-align: center;
}

.post-content{
    margin: 30px 0;
    font: 400 18px/1.62 Georgia,Xin Gothic,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif;
}

.button-link{
    position: relative;
}

.button-link a{
    border: 1px solid #f4645f;
    background: #f4645f;
    color: #fff;
    padding: 7px 14px;
    border-radius: 2px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.button-link a:hover{
    border: 1px solid #303030;
    background: #303030;
    color: #fff;
}

.button-link::after{
    display: block;
    content: " ";
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding-top: 21px;
    position: absolute;
    width: 100%;
    top:30px;
}

aside {
    width: 30%;
    background: white;
}

.document {
    padding: 21px 30px;
}

.document h4 {
    font-weight: 400;
    font-size: 21px;
    color: #303030;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
    position: relative;
}

.document h4::after {
    display: block;
    content: " ";
    border-top: 1px solid #f4645f;
    width: 30%;
    position: absolute;
    bottom: -1ox;
}

.document a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #f4645f;
    border: 1px #f4645f solid;
    padding: 7px 14px;
    border-radius: 2px;
    margin-top: 5px;
}

.document a:hover {
    background: black;
    border: 1px #fff solid;
}

footer {
    background: #202020;
}

footer .container {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    padding: 35px 0;
}

footer .container section {
    width: 25%;
}

footer a:hover {
    color: #f4645f;
}

footer h4 {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 21px;
    padding-bottom: 7px;
    border-bottom: 1px solid #303030;
    line-height: 1.1;
    margin-bottom: 21px;
    position: relative;
}

footer h4::after {
    display: block;
    content: " ";
    border-bottom: 1px solid #f4645f;
    width: 30%;
    position: absolute;
    bottom: -1px;
}

.newArticle a {
    color: #959595;
    font-size: 14px;
    line-height: 1.75em;
}

.date {
    color: #505050;
    font-size: 14px;
    line-height: 1.75em;
    margin: 0;
}

.newArticle article {
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px dashed #303030;
}

.tag-cloud {
    border: 1px solid #303030;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
}

.friendlink a {
    color: #959595;
    padding: 2px 7px;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
}

.hr{
    display: block;
    width: 100%;
    padding-bottom: 25px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px dashed #303030;
}

.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #303030;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #555;
}

.copyright a {
    color: #555;
}

.copyright a:hover {
    text-decoration: underline;
}